Package: philbot-containerized
Version: 1.11.0
Architecture: all
Depends: philbot-config (>= 2.5.0), debconf, bash, wget, docker.io, iptables-persistent, jq
Suggests: opentelemetry-bash
Conflicts: philbot-baremetal, philbot-k8s
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Philbot
Description: Philbot as containerized installation, bot will auto-update
