Package: philbot-containerized
Provides: philbot-deployment
Version: 2.8.3
Architecture: all
Depends: philbot-config (>= 4.0.0), debconf, bash, cron, wget, docker.io, iptables-persistent, jq, opentelemetry-shell (>= 2.6.1)
Conflicts: philbot-baremetal, philbot-k8s
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Philbot
Description: Philbot as containerized installation, bot will auto-update

