Package: philbot-containerized
Version: 1.1.1
Architecture: all
Depends: philbot-config, debconf, bash, wget, docker.io, iptables-persistent
Conflicts: philbot-baremetal, philbot-k8s
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Philbot
Description: Philbot as containerized installation, bot will auto-update
