Package: philbot-recommended
Provides: philbot-deployment
Version: 2.3.1
Architecture: all
Depends: philbot-containerized
Suggests: auto-management
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Philbot
Description: Philbot recommended deployment
