Package: philbot-config
Version: 1.0.2
Architecture: all
Depends: debconf, bash
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Philbot
Description: Philbot config only
