Package: philbot-config
Version: 4.2.0
Architecture: all
Depends: bash, coreutils, util-linux, debconf, sed
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Philbot
Description: Philbot config only
