[Unit]
Description=""
[Service]
Type=simple
ExitType=main
Restart=always
RestartSec=1
StartLimitBurst=10
User=root
WorkingDirectory=/opt/philbot
ExecStart=genericstart /var/lib/philbot/environment.properties.backend /opt/philbot node.js philbot-backend
[Install]
WantedBy=multi-user.target
