[Unit]
Description=""
[Service]
Type=simple
ExitType=main
Restart=always
RestartSec=1
StartLimitBurst=10
User=ubuntu
WorkingDirectory=/opt/philbot
ExecStart=bash /usr/local/sbin/genericstart.sh /etc/environment.properties.discordgateway2http /opt/philbot node.js philbot-discordgateway2http
[Install]
WantedBy=multi-user.target
