[Unit]
Description=""
[Service]
Type=simple
ExitType=main
Restart=always
RestartSec=1
StartLimitBurst=10
User=root
WorkingDirectory=/opt/philbot
ExecStart=/bin/bash /usr/bin/genericstart.sh /var/lib/philbot/environment.properties.voice /opt/philbot python philbot-voice
[Install]
WantedBy=multi-user.target
