[Unit]
Description=""
[Service]
Type=simple
ExitType=main
Restart=always
RestartSec=1
StartLimitBurst=10
User=ubuntu
WorkingDirectory=/opt/philbot
ExecStart=bash /usr/local/sbin/genericstart.sh /etc/philbot-baremetal/environment.properties.voice /opt/philbot python philbot-voice
[Install]
WantedBy=multi-user.target
