[tool.poetry]
name = "philbot-voice"
version = "1.16.2"
description = ""
authors = ["philipp.lengauer <p.lengauer@gmail.com>"]
packages = [{include = "philbot-voice"}]

[tool.poetry.dependencies]
python = "^3.10"
Flask = "^2.2.2"
websocket-client = "^1.4.2"
PyNaCl = "^1.5.0"
PyOgg = "0.6.14a1"
yt_dlp = "*"
opentelemetry-sdk = "*"
opentelemetry-exporter-otlp-proto-http = "*"
opentelemetry-instrumentation = "*"
opentelemetry-instrumentation-system-metrics = "*"
opentelemetry-instrumentation-flask = "*"
opentelemetry-instrumentation-urllib = "*"
opentelemetry-instrumentation-urllib3 = "*"
opentelemetry-instrumentation-requests = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
philbot-voice = "voice:main"
