Package: philbot
Version: 2.4.1
Architecture: all
Depends: philbot-recommended | philbot-deployment
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Philbot
Description: Philbot
