Package: philbot
Version: 2.3.0
Architecture: all
Depends: philbot-deployment
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/Philbot
Description: Philbot recommended deployment
