name: Autoassign

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-slim
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.41.0
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.ACTIONS_GITHUB_TOKEN }}"]'
      - uses: plengauer/autoassign@v0.1.0
        with:
          github_token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
    permissions:
      actions: read
