name: OpenTelemetry

on:
  workflow_run:
    workflows: [.github/workflows/copilot-setup-steps.yml, Automatic Approvals, Automatic Rerun, Automatic Version Bump, CodeQL, Copilot coding agent, Greetings, Publish Debian Baremetal, Publish Debian Configuration, Publish Debian Containerized, Publish Debian Recommended, Publish Debian Root, Publish Image Backend, Publish Image Collector, Publish Image Discord Gateway 2 HTTP, Publish Image Discord Gateway 2 HTTP Master, Publish Image Scheduler, Publish Image Voice, Publish Package Backend, Publish Package Discord Gateway 2 HTTP, Publish Package Scheduler, Publish Package Voice, Renovate, Test Integration]
    types:
      - completed

env:
  OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/metrics'
  OTEL_EXPORTER_OTLP_LOGS_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/logs'
  OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/traces'

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/workflow@v5.38.2
    permissions:
      actions: read
    container: ghcr.io/plengauer/opentelemetry-github-workflow-instrumentation-runner:v5.38.2
