name: 'Publish Package Scheduler'

env:
  OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/metrics'
  OTEL_EXPORTER_OTLP_LOGS_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/logs'
  OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/traces'

on:
  push:
    branches: main
    paths:
      - 'Scheduler/philbot-scheduler.gemspec'

jobs:
  diff:
    runs-on: ubuntu-latest
    outputs:
      dirty: ${{ steps.git-diff.outputs.dirty }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.38.1
        with:
          secrets_to_redact: '["${{ github.token }}"]'
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - id: git-diff
        run: |
          echo dirty="$(git diff "$GITHUB_SHA"^1 "$GITHUB_SHA" -- Scheduler/philbot-scheduler.gemspec | grep -E "^\+" | grep -q '.version' && echo true || echo false)" >> "$GITHUB_OUTPUT"
    permissions:
      actions: read
  publish:
    runs-on: ubuntu-latest
    needs: diff
    if: needs.diff.outputs.dirty == 'true'
    defaults:
      run:
        working-directory: ./Scheduler/
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.38.1
        with:
          secrets_to_redact: '["${{ github.token }}","${{secrets.RUBYGEMS_TOKEN}}"]'
      - uses: actions/checkout@v6.0.1
      - uses: ruby/setup-ruby@v1.275.0
        with:
          ruby-version: 3.4.8
      - run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
        env:
          GEM_HOST_API_KEY: "${{secrets.RUBYGEMS_TOKEN}}"
    permissions:
      actions: read
