name: 'Publish Package Backend'

env:
  OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/metrics'
  OTEL_EXPORTER_OTLP_LOGS_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/logs'
  OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/traces'

on:
  push:
    branches: main
    paths:
      - 'Backend/package.json'

jobs:
  diff:
    runs-on: ubuntu-latest
    outputs:
      dirty: ${{ steps.git-diff.outputs.dirty }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.36.2
        with:
          secrets_to_redact: '["${{ github.token }}"]'
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - id: git-diff
        run: |
          echo dirty="$(git diff "$GITHUB_SHA"^1 "$GITHUB_SHA" -- Backend/package.json | grep -E "^\+" | grep -q '"version":' && echo true || echo false)" >> "$GITHUB_OUTPUT"
    permissions:
      actions: read
  publish:
    runs-on: ubuntu-latest
    needs: diff
    if: needs.diff.outputs.dirty == 'true'
    defaults:
      run:
        working-directory: ./Backend/
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.36.2
        with:
          secrets_to_redact: '["${{ github.token }}","${{secrets.NPM_TOKEN}}"]'
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 19
          registry-url: https://registry.npmjs.org/
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
    permissions:
      actions: read
