name: 'Publish Image Discord Gateway 2 HTTP Master'

env:
  OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/metrics'
  OTEL_EXPORTER_OTLP_LOGS_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/logs'
  OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: 'http://${{ secrets.PARENT_DOMAIN }}:4318/v1/traces'

on:
  push:
    branches: main
    paths:
      - 'DiscordGateway2HTTPMaster/VERSION'

jobs:
  diff:
    runs-on: ubuntu-latest
    outputs:
      dirty: ${{ steps.git-diff.outputs.dirty }}
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.37.1
        with:
          secrets_to_redact: '["${{ github.token }}"]'
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - id: git-diff
        run: |
          echo dirty="$(git diff "$GITHUB_SHA"^1 "$GITHUB_SHA" -- DiscordGateway2HTTPMaster/VERSION | grep -qE "^\+" && echo true || echo false)" >> "$GITHUB_OUTPUT"
    permissions:
      actions: read
  publish:
    runs-on: ubuntu-latest
    needs: diff
    if: needs.diff.outputs.dirty == 'true'
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.37.1
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.DOCKERHUB_TOKEN }}","${{ secrets.DOCKERHUB_USERNAME }}"]'
      - uses: actions/checkout@v6.0.1
      - uses: docker/setup-qemu-action@v3.7.0
      - uses: docker/setup-buildx-action@v3.11.1
      - uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: echo "version=$(cat ./DiscordGateway2HTTPMaster/VERSION)" >> "$GITHUB_OUTPUT"
        id: version
      - uses: docker/build-push-action@v6.18.0
        with:
          context: ./DiscordGateway2HTTPMaster/
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/philbot-discordgateway2httpmaster:v${{ steps.version.outputs.version }}, ${{ secrets.DOCKERHUB_USERNAME }}/philbot-discordgateway2httpmaster:latest
          push: true
    permissions:
      actions: read
